<html>
    <head>
        <title>Guest Book</title>
    </head>
    <body>
        <header>
            <h1>Guest Book</h1>
        </header>
        <section>
            <form th:action="@{/entries/}" method="POST">
                <label for="entry-form-text">Leave a message:</label><input id="entry-form-text" type="text" name="entryText" />
            </form>
        </section>
        <section>
            <div th:each="entry : ${entries}" class="entry">
                <th th:text="${entry.contents}" />
            </div>
        </section>
    </body>
</html>